/* src/components/ui/DateDisplay.css */
.date-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--spacing) / 2);
  background: var(--background);
}

.day {
  text-transform: capitalize;
  font-size: var(--font-size-big-text);
  color: var(--secondary-color);
  font-weight: 500;
}

.date {
  font-size: var(--font-size-text);
  color: var(--text-secondary-color);
  font-weight: 500;
}
