/* src/components/Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--dark-olive);
  color: var(--off-white);
  padding: 1rem;
}

.header-date {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.header-day {
  text-transform: capitalize;
}

.header-num {
  margin-top: 0.2rem;
}

.header-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  width: 33.33%;
}

.header-time {
  text-align: right;
  font-size: 1.2rem;
  width: 33.33%;
}

@media (max-width: 600px) {
  .header-container {
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
  }

  .header-date {
    display: none;
  }

  .header-title {
    font-size: 1.5rem;
    width: 100%;
  }

  .header-time {
    display: none;
  }
}
