/* src/components/Header.css */
.header-content {
  width: 100%;
  text-align: center;
  padding: 0.25rem 1rem; /* Reducimos de 0.5rem */
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.header-date {
  font-size: 1.1rem;
  color: var(--camo-gray);
}

.header-time {
  font-size: 1.1rem;
  color: var(--camo-gray);
}

.header-title {
  font-family: "Staatliches", sans-serif;
  font-size: 3rem;
  color: var(--olive-green);
  margin: 0.1rem 0 0 0; /* Reducimos margen */
}

@media (max-width: 600px) {
  .header-content {
    padding: 0.1rem 0.5rem;
  }

  .header-top {
    padding: 0 0.5rem;
  }

  .header-date,
  .header-time {
    font-size: 0.9rem;
  }

  .header-title {
    font-size: 2.5rem;
  }
}
